{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Gerenciador de Tarefas</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="theme-color" content="#7952b3">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
  </head>
  <body>
    
<div class="container">
  <header class="blog-header py-3 mb-1 rounded bg-dark">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-lg-12 text-center">
        <h6 class="blog-header-logo text-white fst-italic ">Cronograma de Tarefas</h6>
      </div>
    </div>
  </header>

  <div class="nav-scroller  mb-1 bg-dark">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary fst-italic" style="color: white;" href="{% url 'inicio' %}">Inicio</a>
      <a class="p-2 link-secondary fst-italic" style="color: white;" href="{% url 'tarefa' %}">Registrar Serviço</a>
      <a class="p-2 link-secondary fst-italic" style="color: white;" href="{% url 'visualizar' %}">Visualizar</a>
      
    </nav>
  </div>
</div>

    {% block conteudo %}{% endblock %}
 
  </div>
</main>

<footer class="blog-footer fixed-bottom">
  <p>Criado por William Santos</p>
</footer>
  </body>
</html>
