{% extends 'base.html' %}

{% block conteudo %}

<main class="container">
    <div class="px-3 py-3 mb-1 text-dark border rounded" style="background: rgb(242, 243, 244)">
      <div class="col-lg-12 text-center">
        <h1 class="display-4 fst-italic" style="text-align: center; font-size: 25px;color: black;">O saber a gente aprende com os mestres e os livros. 
            A sabedoria se aprende é com a vida e com os humildes.</h1>
        <h6 style="text-align: end;">Cora Carolina</h6>
      </div>
    </div>
    <div class="row mb-2">
{% for dado in dados %}

<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ dado.destaque }} </strong>
            <h3 class="mb-0">{{ dado.titulo }}</h3>
            <div class="mb-1 text-muted">{{ dado.autor }}</div>
            <p class="card-text mb-auto">{{ dado.trecho }}</p>
            <a href="{% url 'tarefa' %}" class="stretched-link">Escolher este livro</a>
        </div>
        
    </div>
</div>
{% endfor %}
{% endblock %}